<%= form_with(model: [ @articulo, @articulo.comentarios.build ], local: true) do |form| %>
  <p>
    <%= form.label :nombre %><br>
    <%= form.text_field :nombre %>
  </p>
  <p>
    <%= form.label :cuerpo %><br>
    <%= form.text_field :cuerpo %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
